{% extends 'base.html.twig' %}

{%  block body %}

    <br>
    <br>
    <div class="row">
        {% for article in articles %}
            <div class="col-md-2 offset-1" style="border: #1a645f 3px solid;">
                <h5>Article's ID : {{ article.id }}</h5>
                <div class="content">
                    <p>Article's name : {{ article.name }}</p>
                    <p>Article's reference : {{ article.reference }}</p>
                    <p>Price : {{ article.price }} €</p>
                    <p>Article's quantity : {{ article.stock.quantity }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}